.MessageField__message-list
  .MessageField__message-list__log{data: {message: {id: message.id}}}
    .MessageField__message-list__log__member
      = message.user.name
    .MessageField__message-list__log__time
      = message.created_at.strftime("%Y年%m月%d日　%H時%M分")
  .MessageField__message-list__comment
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?