* {
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  display: flex;
  .side-bar {
    width: 300px;
    height: 100vh;
    background-color: #253141;
    display: block;
    .user-name{
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__area{
        color: #ffffff;
        width: 260px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        &__name{
          text-align: left;
          size: 16px;
          font-weight: bold;
        }
        &__icon{
          width: 60px;
          text-align: right;
          .icon-btn-cog{
            margin-left: 5px;
          }
          .icon-btn{
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
    .group-list{
      height: calc(100vh - 100px);
      padding: 20px 20px 40px 20px;
      color: #ffffff;
      font-weight: bold;
      .link-group{
        color: #ffffff;
        text-decoration: none;
      }
      &__name{
        font-size: 15px;
        &__message{
          font-size: 11px;
          margin-top: 5px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .main-chat{
    width: calc( 100vw - 300px );
    background-color: #ffffff;
    &__group-info{
      height: 100px;
      display: flex;
      justify-content: space-between;
      &__test{
        padding: 35px 0px 0px 40px;
        font-size: 20px;
        color: #333333;
        &__member{
          padding-top: 15px;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit-icon{
        height: 40px;
        width: 72px;
        margin: 28px 40px auto 0;
        padding: 0 20px;
        border: 1px solid #38aef0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .text{
          text-decoration: none;
          font-size: 16px;
          color: #38aef0;
        }
      }
    }

    .MessageField{
      height: calc( 100vh - 100px - 90px );
      overflow: scroll;
      .MessageField__message-list{
        &__log{
          padding: 35px 0 0 40px;
          display: flex;
          &__member{
            color: #333333;
            font-size: 16px;
          }
          &__time{
            padding-left: 10px;
            color: #999999;
            font-size: 12px;
          }
        }
        &__comment{
          padding: 12px 0 46px 40px;
          color: #434A54;
          font-size: 14px;
        }
      }
    }

    &__message-formid{
      height: 90px;
      width: 100%;
      padding: 20px 40px 20px 40px;
      background-color: #dddddd;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__input{
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        &__comment{
          display: flex;
          justify-content: space-between;
          background-color: white;
          height: 50px;
          width: 100%;
          position: relative;
          &__text{
            height: 50px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 45px 0 15px;
            border: none;
          }
          &__img-btn{
            justify-content: center;
            position: absolute;
            right: 10px;
            line-height: 50px;
            font-size: 25px;
            &__file{
              display: none;
            }
          }
        }
        &__send-btn{
          background-color: #38aef0;
          color: #fff;
          font-size: 16px;
          border: none;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
        }
      }
    }

  }

}